DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
SECRET_KEY=change-this-secret-key
DB_ENGINE=django.db.backends.postgresql
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=localhost
DB_PORT=5432
TIME_ZONE=America/La_Paz
LANGUAGE_CODE=es-ES
EMAIL_HOST=smtp.mailtrap.io
EMAIL_HOST_USER=your_mail_user
EMAIL_HOST_PASSWORD=your_mail_password
EMAIL_PORT=25
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=mensajeria@demo.org
